*{
  font-family: sans-serif;
  list-style: none;
}

#background{
  transform:translate(50%,-50%);
  position: absolute;

  top: 50%;
  right: 50%;

  height: 100%;
  width: 100%;

  background-image: url(/imgs/background.jpg);
}


#filter{
  transform:translate(50%,-50%);
  position: absolute;

  top: 50%;
  right: 50%;

  height: 100%;
  width: 100%;

  background-color: #000000c7;
  filter: blur(100%);
}


h1{
  transform:translate(50%,-50%);
  position: absolute;

  top: 5%;
  right: 50%;
}


a{
  
  color: aliceblue;
  text-decoration: none;
}



 .login {
     transform: translate(50%,-50%);
     position: absolute;
     right:50% ;
     top: 50%;
     padding: 20px;

     background-color: rgba(0, 0, 0, 0.658);
     width: 400px;
     height: 400px;
     text-align: center;
     border: 5px solid #00000000;
     box-shadow: 4px 4px 5px rgb(184, 10, 10);
     border-radius: 50px; 
     font-size:larger;
     font-style:unset;
     color: rgb(255, 255, 255);
}


.user-and-password{
  transform: translate(50%, -50%);
  position: absolute;
  padding: 20px;

  right: 50%;

  width: 60%;
  height: 1%;

  background-color: rgba(255, 255, 255, 0.295);
  border: solid 1px rgba(0, 0, 0, 0);
  border-radius: 15px;
  color: rgb(0, 0, 0);

  font-size: large;

  box-shadow: 2px 2px 5px red;
}


 #user { 
  top: 28%;
}


#password { 
  top: 45%;
}


 #bt { 
   transform: translate(50%, -50%);
   position: absolute;
   top: 60%;
   right: 50%;
   width: 70px;
   height: 30px;

   background-color: rgba(255, 255, 255, 0.295);
   border: 2px solid rgba(81, 108, 131, 0.205);
   border-radius: 3px;
   filter: blur(1%);
   border-radius: 5px;
   color: rgb(0, 0, 0); 
   cursor: pointer;

   box-shadow: 2px 2px 4px red;
}

#errormsg{
  transform: translate(50%, -50%);
   position: absolute;
   top: 74%;
   right: 50%;

  color: red;
}

#register{
  transform: translate(50%,-50%);
  position: absolute;
  top: 93%;
  right: 50%;

  color: rgba(251, 255, 255, 0.397);
  text-decoration: underline;
}


 #fgpassword { 

  transform: translate(50%,-50%);
  position: absolute;
  top: 85%;
  right: 50%;

  color: rgba(251, 255, 255, 0.397);
  text-decoration: underline;
}


 #credits {  
  position: absolute;
  transform: translate(50%,-50%);
  right: 50%;
  top: 90%;

  color: rgb(3, 3, 3);
}


 #credits:hover{ 
  color: rgb(0, 255, 242);
}

 






